/**
 * Folha de estilo personalizada do site ...
 * @author Seu Nome
 */

 /*layout*/
 .flexfooter { 
  display: flex;
  flex-direction: column-reverse;
 }

 #social {margin-bottom: 25px;}

/* Smartphone Portrait */
/*
body {
  background-color: #00ffff;
}
*/

/*rodapé*/
footer{
  background-color: #000;
  color: #fff;
  padding: 50px 0px;
  text-align: center;
}

/* Smartphone Landscape */
@media (min-width: 576px) {
  /*
  body {
    background-color: #ff0;
  }
  */

  /*rodapé*/
  .flexfooter{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


}

/* Tablet Portrait */
@media (min-width: 768px) {
  body {
    background-color: #ff0000;
    color: #fff;
  }
}

/* Tablet Landscape */
@media (min-width: 992px) {
  body {
    background-color: #00ff00;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  body {
    background-color: #fff;
    color: #000;
  }
}
